@import "tailwindcss";

:root {
  --background: #12021a;
  --foreground: #16041f;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh);
    opacity: 0;
  }
}

.animate-shooting-star {
  animation: shooting-star 5s linear infinite;
}

body {
  cursor: url('/cursor.png'), auto;
}


html {
  scroll-behavior: smooth;
}
